# STAT 207 Homework 2 [25 points]

## Understanding Data and Asking Questions

Due: Friday, January 26, end of day (11:59 pm CT)*

*Late Submissions: accepted until Thursday, February 1 at 11:59 pm
<hr>

## Set Up the Data

First, we'll set up the file so that we can complete our data analysis.  We'll import Python packages including pandas, which helps when analyzing a dataset, and visualization packages.  We'll also load in our data and save it as `df` for later analysis.

In [85]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

In [86]:
df = pd.read_csv('Billionaire.csv')
df

,Name,NetWorth,Country,Source,Rank,Age,Industry
0,Jeff Bezos,$177 B,United States,Amazon,1,57.0,Technology
1,Elon Musk,$151 B,United States,"Tesla, SpaceX",2,49.0,Automotive
2,Bernard Arnault & family,$150 B,France,LVMH,3,72.0,Fashion & Retail
3,Bill Gates,$124 B,United States,Microsoft,4,65.0,Technology
4,Mark Zuckerberg,$97 B,United States,Facebook,5,36.0,Technology
...,...,...,...,...,...,...,...
2750,Daniel Yong Zhang,$1 B,China,e-commerce,2674,49.0,Technology
2751,Zhang Yuqiang,$1 B,China,Fiberglass,2674,65.0,Manufacturing
2752,Zhao Meiguang,$1 B,China,gold mining,2674,58.0,Metals & Mining
2753,Zhong Naixiong,$1 B,China,conglomerate,2674,58.0,Diversified
2754,Zhou Wei family,$1 B,China,Software,2674,54.0,Technology

We'll work with a data set about the world's billionaires from 2021 (https://www.forbes.com/real-time-billionaires/#49c85f6e3d78).  This data is contained in the "Billionaire.csv" file located in the same folder.

We've read this data in above.

## 1. Understanding the Billionaires Data [1 point]

Display the first several lines of the data frame.

In [87]:
df.head(10)

,Name,NetWorth,Country,Source,Rank,Age,Industry
0,Jeff Bezos,$177 B,United States,Amazon,1,57.0,Technology
1,Elon Musk,$151 B,United States,"Tesla, SpaceX",2,49.0,Automotive
2,Bernard Arnault & family,$150 B,France,LVMH,3,72.0,Fashion & Retail
3,Bill Gates,$124 B,United States,Microsoft,4,65.0,Technology
4,Mark Zuckerberg,$97 B,United States,Facebook,5,36.0,Technology
5,Warren Buffett,$96 B,United States,Berkshire Hathaway,6,90.0,Finance & Investments
6,Larry Ellison,$93 B,United States,software,7,76.0,Technology
7,Larry Page,$91.5 B,United States,Google,8,48.0,Technology
8,Sergey Brin,$89 B,United States,Google,9,47.0,Technology
9,Mukesh Ambani,$84.5 B,India,diversified,10,63.0,Diversified

## 2. Billionaires Data Basics [1 point]

Use Python to report the dimensions of the data.

In [88]:
df.shape

(2755, 7)

## 3. Variable Types [1 point]

What is the variable type as recorded in Python for each variable in the Billionaire data?

In [89]:
df.dtypes

Name         object
NetWorth     object
Country      object
Source       object
Rank          int64
Age         float64
Industry     object
dtype: object

## 4. Asking and Answering Questions [1 point]

You will pose a question that you can answer using the available data.  Below, use Python to answer your question, using numerical summaries, graphical visualizations, or both.  You will also upload this output to Gradescope as either a file upload or pasting your output from below.

### Which industries have the most billionares in descending order and who has the most networth in each industry?

In [90]:
df['Industry'].unique()

array(['Technology', 'Automotive', 'Fashion & Retail',
       'Finance & Investments', 'Diversified', 'Food & Beverage',
       'Telecom', 'Media & Entertainment', 'Service',
       'Gambling & Casinos', 'Manufacturing', 'Real Estate',
       'Metals & Mining', 'Energy', 'Logistics', 'Healthcare',
       'Construction & Engineering', 'Sports'], dtype=object)

In [91]:
df = df.copy()
df['NetWorth'] = df['NetWorth'].str.replace(' B', '')
df['NetWorth'] = df['NetWorth'].str.replace('$', '').astype('float')
df.dtypes

Name         object
NetWorth    float64
Country      object
Source       object
Rank          int64
Age         float64
Industry     object
dtype: object

In [111]:
df_group_industry = df.groupby('Industry').agg('sum').reset_index()
df_group_industry = df_group_industry[['Industry', 'NetWorth']]
df_group_industry.head()

                     Industry  NetWorth
0                  Automotive     467.5
1  Construction & Engineering     125.1
2                 Diversified     868.1
3                      Energy     452.6
4            Fashion & Retail    1697.6

In [ ]:
df_people = []
for i in range():

In [110]:
technology_person = df[ df.Industry == 'Technology'].nlargest(1, 'NetWorth')['Name']
technology_person
#automotive_person
#fashion_retail_person
#finance_investments_person
#diversified_person
#food_beverage_person
#telecom_person
#media_entertainment_person
#service_person
#gambling_casinos_person
#manufacturing_person
#real_estate_person
#metals_M=mining_person
#energy_person 
#logistics_person
#healthcare_person
#construction_engineering_person
#sports_person

0    Jeff Bezos
Name: Name, dtype: object

Remember to keep all your cells and hit the save icon above periodically to checkpoint (save) your results on your local computer. Once you are satisified with your results restart the kernel and run all (Kernel -> Restart & Run All). **Make sure nothing has changed**. Checkpoint and exit (File -> Save and Checkpoint + File -> Close and Halt). Follow the instructions on the Homework 2 Canvas Assignment to submit your notebook to GitHub.  Be sure to also complete the Gradescope component of this assignment.