# STAT 207 Homework 4 [25 points]

## Populations, Samples, and Summarizing Data

Due: Friday, February 16, end of day (11:59 pm CT)

<hr>

## Python Component

Run the following code chunk to import the packages needed for this assignment:

- pandas
- matplotlib.pyplot
- seaborn

The first package assists in analyzing a dataset.  The second two packages provide support for visualizations.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

## 1. Read in the Data [0.5 points]

The Super Bowl is one of the biggest events for ads in addition to for the NFL.  Information about ads for the top 10 brands that advertise at the Superbowl are included in the superbowl_ads.csv file.  You can read a little more about this data in a FiveThirtyEight article (https://projects.fivethirtyeight.com/super-bowl-ads/).  

Read this file in.  No need to drop any missing values.

You may also want to explore the data to determine how it relates to a population and/or the representativeness of the data.

In [2]:
df = pd.read_csv("superbowl_ads.csv")

In [9]:
df.shape

(247, 25)

In [4]:
df.head()

,year,brand,superbowl_ads_dot_com_url,youtube_url,funny,show_product_quickly,patriotic,celebrity,danger,animals,...,like_count,dislike_count,favorite_count,comment_count,published_at,title,description,thumbnail,channel_title,category_id
0,2018,Toyota,https://superbowl-ads.com/good-odds-toyota/,https://www.youtube.com/watch?v=zeBZvwYQ-hA,False,False,False,False,False,False,...,1233.0,38.0,0.0,NaN,2018-02-03T11:29:14Z,Toyota Super Bowl Commercial 2018 Good Odds,Toyota Super Bowl Commercial 2018 Good Odds. Y...,https://i.ytimg.com/vi/zeBZvwYQ-hA/sddefault.jpg,Funny Commercials,1.0
1,2020,Bud Light,https://superbowl-ads.com/2020-bud-light-seltz...,https://www.youtube.com/watch?v=nbbp0VW7z8w,True,True,False,True,True,False,...,485.0,14.0,0.0,14.0,2020-01-31T21:04:13Z,Bud Light: Post Malone #PostyStore Inside Post...,"Bud Light, Post Malone ""#PostyStore Inside Pos...",https://i.ytimg.com/vi/nbbp0VW7z8w/sddefault.jpg,VCU Brandcenter,27.0
2,2006,Bud Light,https://superbowl-ads.com/2006-bud-light-bear-...,https://www.youtube.com/watch?v=yk0MQD5YgV8,True,False,False,False,True,True,...,129.0,15.0,0.0,9.0,2006-02-06T10:02:36Z,"Super Bowl 2006: Bud Light ""Save Yourself""",Bud Light Super Bowl commercial where two guys...,NaN,John Keehler,17.0
3,2018,Hynudai,https://superbowl-ads.com/hope-detector-nfl-su...,https://www.youtube.com/watch?v=lNPccrGk77A,False,True,False,False,False,False,...,2.0,0.0,0.0,0.0,2018-03-09T15:40:18Z,Hyundai / Hope Detector (2018),"TV or Web Commercial, shot on location in MN ...",NaN,IATSE 490,22.0
4,2003,Bud Light,https://superbowl-ads.com/2003-bud-light-hermi...,https://www.youtube.com/watch?v=ovQYgnXHooY,True,True,False,False,True,True,...,20.0,3.0,0.0,2.0,2006-07-18T04:53:42Z,bud light pick up,see how a dude tries to pick up babes at a bea...,NaN,jassymei,24.0

In [6]:
df.dtypes

year                           int64
brand                         object
superbowl_ads_dot_com_url     object
youtube_url                   object
funny                           bool
show_product_quickly            bool
patriotic                       bool
celebrity                       bool
danger                          bool
animals                         bool
use_sex                         bool
id                            object
kind                          object
etag                          object
view_count                   float64
like_count                   float64
dislike_count                float64
favorite_count               float64
comment_count                float64
published_at                  object
title                         object
description                   object
thumbnail                     object
channel_title                 object
category_id                  float64
dtype: object

In [7]:
df[['id', 'kind', 'etag']]

              id           kind                         etag
0    zeBZvwYQ-hA  youtube#video  rn-ggKNly38Cl0C3CNjNnUH9xUw
1    nbbp0VW7z8w  youtube#video  1roDoK-SYqSpqYwKbYrMH0jEJQ4
2    yk0MQD5YgV8  youtube#video  OHiDfHTB3kilXfN8W0VTH0nwUIg
3    lNPccrGk77A  youtube#video  G9Dhby9Xe1UpnfcIrHmcnZYRCFI
4    ovQYgnXHooY  youtube#video  acsuYsFFQ_gHCC060Wus0tTgLjM
..           ...            ...                          ...
242          NaN            NaN                          NaN
243  _GeiOdHsW_8  youtube#video  rcUzd3Zb83QHL4QnNFbvFOuHhIE
244  pldGc0Cpf84  youtube#video  SsajlgV7Ut16SxbhO18TtwgpeX8
245  39BL7iqe6pQ  youtube#video  aW5ic7ok1emp8mvzo1yi79Tx3M4
246  H9YdunAo3Ug  youtube#video  UT6xHiYn2gS7zZMAmxQw8c3UXZI

[247 rows x 3 columns]

## 2. Two Way Tables [1 point]

Generate two-way tables needed to compare the distributions between brands and ads including animals.

In [15]:
pd.crosstab( df['brand'], df['animals'], normalize = 'index')

animals       False     True
brand
Bud Light  0.619048  0.380952
Budweiser  0.441860  0.558140
Coca-Cola  0.428571  0.571429
Doritos    0.600000  0.400000
E-Trade    0.692308  0.307692
Hynudai    0.681818  0.318182
Kia        0.615385  0.384615
NFL        1.000000  0.000000
Pepsi      0.880000  0.120000
Toyota     0.727273  0.272727

## 3. Understanding Missing Data [1.5 points]

**a)** How many missing values are recorded for each variable?

In [17]:
df.isna().sum()

year                           0
brand                          0
superbowl_ads_dot_com_url      0
youtube_url                   11
funny                          0
show_product_quickly           0
patriotic                      0
celebrity                      0
danger                         0
animals                        0
use_sex                        0
id                            11
kind                          16
etag                          16
view_count                    16
like_count                    22
dislike_count                 22
favorite_count                16
comment_count                 25
published_at                  16
title                         16
description                   40
thumbnail                    129
channel_title                 16
category_id                   16
dtype: int64

**b)** First, make a new variable in the data that records whether the comment count is missing.  

Then, count the number of missing values in the comments variable for each brand.  Do this second part in one line of code for full credit.

In [32]:
df_comm_missing = df[ df['comment_count'].isna() == True]
df_comm_missing.groupby('brand').agg('count').reset_index()[['brand', 'year']].rename( columns = {'year' : 'comments_missing'})

       brand  comments_missing
0  Bud Light                 5
1  Budweiser                 5
2  Coca-Cola                 1
3    Doritos                 3
4    E-Trade                 3
5    Hynudai                 1
6        Kia                 2
7        NFL                 2
8      Pepsi                 1
9     Toyota                 2

## 4. Exploring Comments [2 points]

Generate numerical summaries and graphical visualizations for the comments variable based on whether an ad includes a celebrity.

In [34]:
df_bool_celeb = df[['brand', 'celebrity']]
df_bool_celeb

         brand  celebrity
0       Toyota      False
1    Bud Light       True
2    Bud Light      False
3      Hynudai      False
4    Bud Light      False
..         ...        ...
242        NFL      False
243  Budweiser      False
244      Pepsi       True
245    E-Trade      False
246  Budweiser       True

[247 rows x 2 columns]

## 5. View Counts [2.5 points]

**a)** Generate a histogram of the view counts in the data.

**b)** Take a random sample of 40 ads from the data.  Then explore the distribution of view counts for your random sample with at least one of numerical summaries or graphical displays.

Remember to keep all your cells and hit the save icon above periodically to checkpoint (save) your results on your local computer. Once you are satisified with your results restart the kernel and run all (Kernel -> Restart & Run All). **Make sure nothing has changed**. Checkpoint and exit (File -> Save and Checkpoint + File -> Close and Halt). Follow the instructions on the Homework 4 Canvas Assignment to submit your notebook to GitHub.  Be sure to also complete the Gradescope component of this assignment.