# STAT 207 Project 02 - Daytime VS Nighttime Collisions

YOUR NAMES

## 1. Introduction

***Just Notes***

### **Hypothesis Task**

~~We are interested in looking for evidence to refute the claim that the same amount of collisions occur in the daytime than in the nighttime. Our claim is that there are more collision in the day time than in the night time. To do this, we will perform hypthesis test and look at the difference in proportion for daytime collisions, defined as 7 am to 7 pm, and nighttime collisions, defined as 7 pm to 7 am.~~

**Categorical Variable**: "Daytime?"

**Categorical Variable**: "Injury Type"

**null** = proportion of injuries that occur in daytime = proportion of injuries that occur in nighttime

**alt** = proportion of injuries that occur in daytime < proportion of injuries that occur in nighttime

Classify the 'No injuries/unknown' to be no injuries and anything else as injuries

***

**Confidence Interval Task**

We are interested in the true longitude and latitude average of all car crashes that occur in Monroe County. To do this, we will set up a 95% confidence interval to suggest that we are 95% confident that the true longitude and latitude average of all car crashes that occur in Monroe County is within our two intervals. Since we have a representative sample, we will have to take a resample of the sample data with replacement, take the longitude and latitude average, save it, and then repeat various times so that we can create a sampling distribution that should closely resemble a normal curve. From there we can take calculate our 95% confidence interval.

In [4]:
#Imports here
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [11]:
df = pd.read_csv("cleaned_monroe_crash_data.csv")
df.head()

,Year,Month,Day,Weekend?,Hour,Collision Type,Injury Type,Primary Factor,Reported_Location,Latitude,Longitude
0,2015,1,5,Weekday,0.0,2-Car,No injury/unknown,OTHER (DRIVER) - EXPLAIN IN NARRATIVE,1ST & FESS,39.159207,-86.525874
1,2015,1,6,Weekday,1500.0,2-Car,No injury/unknown,FOLLOWING TOO CLOSELY,2ND & COLLEGE,39.161440,-86.534848
2,2015,1,6,Weekend,2300.0,2-Car,Non-incapacitating,DISREGARD SIGNAL/REG SIGN,BASSWOOD & BLOOMFIELD,39.149780,-86.568890
3,2015,1,7,Weekend,900.0,2-Car,Non-incapacitating,FAILURE TO YIELD RIGHT OF WAY,GATES & JACOBS,39.165655,-86.575956
4,2015,1,7,Weekend,1100.0,2-Car,No injury/unknown,FAILURE TO YIELD RIGHT OF WAY,W 3RD,39.164848,-86.579625

In [13]:
df.shape

(53943, 11)

## 2. Confidence Interval Analytical Tasks

Research questions:

What is the average longitude and latitude values in my sample data?
What is a range of reasonable values for the population longitude and latitude average?

In [15]:
# Interested in longitude and latitude only
df_coord = df[['Latitude', 'Longitude']]
df_coord.head()

    Latitude  Longitude
0  39.159207 -86.525874
1  39.161440 -86.534848
2  39.149780 -86.568890
3  39.165655 -86.575956
4  39.164848 -86.579625

In [7]:
# Cleaning is necessary
df_coord.isna().sum()

Latitude     4961
Longitude    4961
dtype: int64

In [14]:
df_coord.shape

(53943, 2)

In [9]:
df_coord['Latitude'].describe()

count    48982.000000
mean        39.163677
std          0.198043
min          9.133739
25%         39.153414
50%         39.164655
75%         39.175552
max         41.228665
Name: Latitude, dtype: float64

In [26]:
# Satistic of Interest
(df_injury == 'Fatal').mean()

Injury Type    0.002132
dtype: float64

In [9]:
samp_dist = []
for i in range(10000):
    sample_proportion = (df_injury.sample(53943, replace = True) == 'Fatal').mean().iloc[0]
    d = {"proportion_fatal" : sample_proportion}
    samp_dist.append(d)

In [10]:
samp_dist = pd.DataFrame(samp_dist)
samp_dist

      proportion_fatal
0             0.002225
1             0.002150
2             0.002169
3             0.001798
4             0.002391
...                ...
9995          0.002002
9996          0.002187
9997          0.002206
9998          0.002243
9999          0.002169

[10000 rows x 1 columns]

In [12]:
print(f"Lower Bound: {100*np.quantile(samp_dist, .025)}")

Lower Bound: 0.17425801308788907

In [13]:
print(f"Higher Bound: {100*np.quantile(samp_dist, .975)}")

Higher Bound: 0.2521179763824778

In [16]:
samp_dist.hist()
plt.xlabel("Proportion of collisions that are fatal")
plt.ylabel("Frequency")
plt.title("Sampling Distribution")
plt.axvline(np.quantile(samp_dist, .025), color = "r")
plt.axvline(np.quantile(samp_dist, .975), color = "r")
plt.show()

NameError: name 'samp_dist' is not defined

We are 95% confident that the true longitude average of where car crashes occur in Monroe County is within ## and ##.

We are also 95% confident that the true latitude average of where car crashes occur in Monroe County is within ## and ##.

## 3. Hypothesis Testing Analytical Tasks

In [18]:
df_hyp = df[['Hour', 'Injury Type']]
df_hyp.head()

     Hour         Injury Type
0     0.0   No injury/unknown
1  1500.0   No injury/unknown
2  2300.0  Non-incapacitating
3   900.0  Non-incapacitating
4  1100.0   No injury/unknown

In [19]:
df_hyp['Hour'].unique()

array([   0., 1500., 2300.,  900., 1100., 1800., 1200., 1400., 1600.,
       1700., 1300.,  700., 2100., 2000., 1900.,  400., 1000.,  600.,
        800., 2200.,  100.,  200.,  300.,  500.,   nan])

In [20]:
df_hyp.isna().sum()

Hour           225
Injury Type      0
dtype: int64

In [21]:
df_hyp = df_hyp.dropna()

In [23]:
df_hyp.isna().sum()

Hour           0
Injury Type    0
dtype: int64

In [28]:
def daytime_or_nighttime(Hour):
    if 700 < Hour < 1900:
        return True
    else:
        return False

In [36]:
df_hyp['Injury Type'].unique()

array(['No injury/unknown', 'Non-incapacitating', 'Incapacitating',
       'Fatal'], dtype=object)

In [31]:
def injury_or_not(injury_type):
    if injury_type == 'No injury/unknown':
        return False
    else:
        return True

In [29]:
df_hyp['Daytime?'] = df_hyp['Hour'].apply(daytime_or_nighttime)

In [32]:
df_hyp['Injury?'] = df_hyp['Injury Type'].apply(injury_or_not)

In [33]:
df_hyp.head()

     Hour         Injury Type  Daytime?  Injury?
0     0.0   No injury/unknown     False    False
1  1500.0   No injury/unknown      True    False
2  2300.0  Non-incapacitating     False     True
3   900.0  Non-incapacitating      True     True
4  1100.0   No injury/unknown      True    False

In [38]:
df_hyp = df_hyp[['Daytime?', 'Injury?']]
df_hyp.head()

   Daytime?  Injury?
0     False    False
1      True    False
2     False     True
3      True     True
4      True    False

In [45]:
# Proportion of injuries that occur during daytime
((df_hyp['Daytime?'] == True) & (df_hyp['Injury?'] == True)).mean()

0.16043039577050522

In [44]:
# Proportion of injuries that occur during nighttime
((df_hyp['Daytime?'] == False) & (df_hyp['Injury?'] == True)).mean()

0.06887821586805168

Assuming the skeptic's claim is true, then

## 4. Conclusion