# STAT 207 Homework 3 [25 points]

## Cleaning, Wrangling, and Reshaping Data

Due: Friday, February 2, end of day (11:59 pm CT)

<hr>

## Student Intro Survey [1 point]

Complete the student intro survey on Canvas to earn the first point for Homework 3.

## Python Component

Run the following code chunk to import the packages needed for this assignment:

- pandas
- matplotlib.pyplot
- seaborn

The first package assists in analyzing a dataset.  The second two packages provide support for visualizations.

In [48]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

## 1. Read in and Clean the Data [2.5 points]

Medium is a website where anyone can post an article, share a written story, or create a helpful tutorial to share.  Medium has publications, which are curated collections of articles focused on specific topics.  The data that we will analyze here is about articles collected from Medium publications focused on data science topics.  The original data is accessible here: https://www.kaggle.com/datasets/arnabchaki/medium-articles-dataset

The kaggle data has been slightly modified and is available in the medium.csv file located in this same folder, with primary updates to the date variable.

Read this file in.  Be sure that any missing values are read in appropriately, and show your process for doing so.

No need to drop any observations with missing values at this time.

In [49]:
df = pd.read_csv("medium.csv")
df.head()

,id,url,title,subtitle,claps,responses,reading_time,publication,day,month,year
0,1,https://towardsdatascience.com/not-all-rainbow...,Not All Rainbows and Sunshine: The Darker Side...,Part 1: The Risks and Ethical Issues…,453,11,9,Towards Data Science,27,1,2023
1,2,https://towardsdatascience.com/ethics-in-ai-po...,Ethics in AI: Potential Root Causes for Biased...,An alternative approach to understanding bias ...,311,3,12,Towards Data Science,27,1,2023
2,3,https://towardsdatascience.com/python-tuple-th...,"Python Tuple, The Whole Truth and Only the Tru...",NaN,188,0,24,Towards Data Science,27,1,2023
3,4,https://towardsdatascience.com/dates-and-subqu...,Dates and Subqueries in SQL,Working with dates in SQL,15,1,4,Towards Data Science,27,1,2023
4,5,https://towardsdatascience.com/temporal-differ...,Temporal Differences with Python: First Sample...,NaN,10,0,13,Towards Data Science,27,1,2023

In [50]:
df.dtypes

id               int64
url             object
title           object
subtitle        object
claps           object
responses        int64
reading_time     int64
publication     object
day              int64
month            int64
year             int64
dtype: object

In [51]:
df.isna().sum()

id                0
url               0
title             0
subtitle        425
claps            25
responses         0
reading_time      0
publication       0
day               0
month             0
year              0
dtype: int64

In [52]:
df['claps'].unique()

array(['453', '311', '188', '15', '10', '27', '178', '3200', '426', '847',
       '477', '130', 'missing', '199', '121', '174', '117', '198', '88',
       '210', '372', '104', '132', '80', '2600', '695', '658', '1200',
       '301', '293', '341', '168', '101', '67', '135', '127', '623',
       '475', '65', '11', '22', '57', '260', '275', '509', 'scrape fail',
       '48', '163', '151', '18', '2', '40', '58', '3', '139', '7', '51',
       '411', '743', '381', '262', '145', '85', '140', '1600', '3400',
       '388', '302', '232', '1000', '758', 'error', '32', '110', '560',
       '255', '263', '81', '1700', '968', '92', '396', '52', '185', '241',
       '350', '95', '64', '4', '19', '5', '37', '1100', '892', '87',
       '323', '783', '625', '152', '134', '131', '965', '71', '137', '13',
       '147', '1400', '362', '583', '24', '144', '384', '505', '291',
       '196', '181', '62', '29', '78', '215', '31', '192', '46', '406',
       '493', '448', '487', '39', '100', '1500', '910', '335', '738',
       '365', '82', '392', '162', '77', '102', '209', '115', '35', '41',
       '527', '606', '989', '125', '576', '423', '180', '744', '648',
       '512', '329', '195', '218', '6', '75', '56', '30', '76', '124',
       '183', '109', '118', '14', '978', '12', '26', '107', '228', '279',
       '316', '128', '591', '837', '927', '205', '3900', '391', '277',
       '158', '129', '254', '171', '120', '55', '68', '461', '94', '3600',
       '441', '165', '3000', '251', '213', '242', '69', '36', '50', '53',
       '108', '246', '146', '351', '250', '208', '86', '2000', '479', '1',
       '618', '44', '84', '66', '63', '72', '141', '538', '79', '290',
       '762', '91', '270', '224', '155', '874', '126', '230', '4990',
       '4700', '253', '523', '412', '280', '173', '547', '274', '17',
       '635', '6800', '2400', '235', '434', '89', '225', '402', '386',
       '98', '201', '2500', '598', '313', '444', '111', '60', '113', '73',
       '796', '481', '2700', '462', '425', '25', '456', '359', '142',
       '38', '112', '143', '534', '465', '376', '1900', '900', '203',
       '286', '186', '400', '2100', '2300', '345', '7100', '172', '237',
       '619', '356', '430', '258', '214', '308', '360', '122', '167',
       '61', '21', '16', '34', '20', '28', '49', '582', '795', '802',
       '665', '327', '45', '1800', '169', '371', '348', '2800', '116',
       '191', '157', '8', '245', '164', '43', '54', '330', '338', '880',
       '415', '202', '596', '373', '410', '96', '855', '655', '567',
       '150', '2900', '408', '194', '300', '106', '212', '70', '737',
       '337', '500', '2200', '3500', '390', '399', '261', '74', '473',
       '170', '676', '517', '460', '184', '0', '256', '1300', '380',
       '119', '161', '663', '682', '23', '177', '267', '684', '674',
       '314', '450', '333', '950', '271', '638', '5400', '612', '784',
       '662', '187', '103', '366', '631', '503', '661', '197', '490',
       '283', '349', '33', '355', '843', '915', '257', '219', '575',
       '354', '347', '528', '945', '114', '287', '451', '416', '342',
       '268', '99', '310', '160', '937', '846', '677', '785', '331',
       '842', '418', '463', '856', '435', '498', '608', '211', '234',
       '278', '9', '233', '5000', '4100', '318', '154', '83', '675',
       '276', '6300', '468', '405', '189', '123', '955', '516', '894',
       '294', '227', '507', '285', '47', '328', '393', '422', '766',
       '717', '364', '182', '259', '149', '641', '307', '312', '156',
       '179', '786', '176', '750', '247', 'scrape failed', '629', '670',
       '190', '59', '90', '437', '385', '455', '236', '281', '339', '545',
       '746', '581', '324', '272', '93', '216', '105', '159', '525',
       '729', '401', '304', '153', '565', '11100', '332', '470', '288',
       '577', '469', '383', '454', '231', '755', '712', '97', '827',
       '5100', '133', '821', '594', '175', '4500', '634', '914', '585',
       '305', '863', '551', '299', '471', '221', '446', '546', '544',
       '701', '343', '616', '761', '728', '529', '700', '357', '960',
       '589', '636', '238', '763', '252', '969', '548', '352', '370',
       '605', '536', '710', '334', '556', '584', '597', '775', '506',
       '269', '857', '474', '792', '398', '204', '432', '42', '292',
       '961', '820', '642', '504', '531', '166', '317', '660', '240',
       '486', '387', '530', '626', '607', '319', '861', '336', nan, '467',
       '489', '871', '692', '382', '484', '248', '403', '148', '223',
       '207', '835', '217', '424', '282', '413', '264', '457', '572',
       '289', '823', '851', '363', '244', '890', '748', '3800', '367',
       '779', '990', '298', '374', '321', '690', '1970', '917', '771',
       '309', '1920', '759', '206', '685', '315', '1940'], dtype=object)

In [53]:
df = pd.read_csv("medium.csv", na_values = ['nan', 'scrape fail', 'error', 'missing', 'scrape failed'] )
df.dtypes
df.isna().sum()

id                0
url               0
title             0
subtitle        425
claps            75
responses         0
reading_time      0
publication       0
day               0
month             0
year              0
dtype: int64

## 2. Understanding the Medium Data [1 point]

How many articles from each publication are in the data?

In [55]:
df['publication'].unique()

array(['Towards Data Science', 'UX Collective', 'The Startup',
       'The Writing Cooperative'], dtype=object)

In [58]:
df_group = df.groupby('publication').agg('count').reset_index()[['publication', 'title']].rename( columns = {'title' : 'articles'})
df_group

               publication  articles
0              The Startup       521
1  The Writing Cooperative       389
2     Towards Data Science      1228
3            UX Collective       360

## 3. Understanding Missing Data [1 points]

**a)** How many missing values are recorded for each variable?

In [59]:
df.isna().sum()

id                0
url               0
title             0
subtitle        425
claps            75
responses         0
reading_time      0
publication       0
day               0
month             0
year              0
dtype: int64

**b)** Let's consider the claps variable in particular.  Filter the data to a smaller copy of the data that only contains those observations that are missing a value for the claps variable.  Be sure to give this subset a name other than the original data frame name.

## 4. Publication Reading Times [3 points]

**a)** Calculate the mean reading time for each of the Data Science publications.  **Do this in one line of code for full credit.**

**b)** Generate a violinplot for the distribution of reading times for each of the publications.  Be sure to give your plot a reasonable title and axes labels.

## 5. Article Responses [3 points]

In this question, we'd like to understand the responses that are earned by each article in the context of its given publication.

**a)** First, generate a data frame that provides the total number of responses for a publication to all articles in our data.  That is, you should have one number recorded for each publication.

**b)** Then, merge the data frame from **part a** into the original data frame for the articles.

**c)** Now, add a new variable to our articles data that records the proportion of responses from the given publication that originate from the article of that row.

**d)** Finally, which article has the most responses relative to its publication?  What proportion of publication responses are due to that article?

Remember to keep all your cells and hit the save icon above periodically to checkpoint (save) your results on your local computer. Once you are satisified with your results restart the kernel and run all (Kernel -> Restart & Run All). **Make sure nothing has changed**. Checkpoint and exit (File -> Save and Checkpoint + File -> Close and Halt). Follow the instructions on the Homework 3 Canvas Assignment to submit your notebook to GitHub.  Be sure to also complete the Gradescope component of this assignment.