# STAT 207 Homework 6 [25 points]

## Hypothesis Testing

Due: Friday, March 1, end of day (11:59 pm CT)

<hr>

## Imports 

Run the following code cell to import the necessary packages into the file.  You may import additional packages, as needed for this assignment.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns; sns.set()
import statsmodels.formula.api as smf

## Case Study: Colleges and Universities

We will use a random sample of post-secondary education facilities (colleges & universities) from the United States, including Puerto Rico & other US territories.  The **colleges.csv** file contains a random sample of 135 post-secondary education facilities from the US.  This data originally were obtained from: https://www.kaggle.com/yamqwe/colleges-and-universitiese
although the specific data is no longer available through this link.

We will focus on a few variables in particular:

- the categorization of the school (`NAICS_DESC`)
- the total number of students enrolled (`TOT_ENROLL`)

## 1. Read and prepare the data [1 point] 

**a)** You should read in the data from the **colleges.csv** file.

In [3]:
df = pd.read_csv("colleges.csv")

**b)** Perform any data cleaning that needs to take place.

**Hint:** For the data cleaning, we only care about the 2 variables defined above.  Consider possible values for the `TOT_ENROLL` variable in particular, and remove any colleges or universities that do not have possible, logical values recorded.

In [7]:
df = df[['NAICS_DESC', 'TOT_ENROLL']].rename( columns = {'NAICS_DESC' : 'naics_desc', 'TOT_ENROLL' : 'tot_enroll'})
df.head()

                                         naics_desc  tot_enroll
0  Colleges, Universities, and Professional Schools        1666
1                                   Junior Colleges        4216
2  Colleges, Universities, and Professional Schools        4391
3  Colleges, Universities, and Professional Schools        1508
4               Educational Support Services/Closed           0

In [9]:
df['tot_enroll'].describe()

count      135.000000
mean      2820.822222
std       5822.892201
min          0.000000
25%        154.000000
50%        507.000000
75%       2443.000000
max      40695.000000
Name: tot_enroll, dtype: float64

In [12]:
df[df.tot_enroll <= 154]

                                           naics_desc  tot_enroll
4                 Educational Support Services/Closed           0
6                   Other Technical and Trade Schools          77
7                      Cosmetology and Barber Schools          95
12                     Cosmetology and Barber Schools          67
18                     Cosmetology and Barber Schools          53
23                                  Computer Training           0
25                  Other Technical and Trade Schools          67
27                     Cosmetology and Barber Schools          77
32                  Other Technical and Trade Schools          80
33                Educational Support Services/Closed           0
36                     Cosmetology and Barber Schools          71
38                     Cosmetology and Barber Schools          62
43                  Other Technical and Trade Schools          86
52                Educational Support Services/Closed           0
53                     Cosmetology and Barber Schools         142
54                   Business and Secretarial Schools         102
61                     Cosmetology and Barber Schools         153
69                Educational Support Services/Closed           0
78                                  Computer Training         106
80                     Cosmetology and Barber Schools          22
83                     Cosmetology and Barber Schools         100
95                  Other Technical and Trade Schools          15
97                  Other Technical and Trade Schools         134
98                  Other Technical and Trade Schools          25
100                 Other Technical and Trade Schools          16
101                                 Computer Training          11
103                                   Junior Colleges           0
104  Colleges, Universities, and Professional Schools         128
112                    Cosmetology and Barber Schools          96
120                    Cosmetology and Barber Schools          80
123                    Cosmetology and Barber Schools          30
126                                   Junior Colleges           0
128                    Cosmetology and Barber Schools          87
129                 Other Technical and Trade Schools          12

In [16]:
len(df[ df.tot_enroll == 0])

7

In [17]:
df['tot_enroll'].isna() == 0

0      True
1      True
2      True
3      True
4      True
       ...
130    True
131    True
132    True
133    True
134    True
Name: tot_enroll, Length: 135, dtype: bool

In [18]:
df[df['tot_enroll'] == 0]

                              naics_desc  tot_enroll
4    Educational Support Services/Closed           0
23                     Computer Training           0
33   Educational Support Services/Closed           0
52   Educational Support Services/Closed           0
69   Educational Support Services/Closed           0
103                      Junior Colleges           0
126                      Junior Colleges           0

**c)** We are interested in making statements about junior colleges, colleges, universities, and professional schools.  Update our data so that this can be accomplished.

## 2. Typical enrollment? [1.5 points]

Although the University of Illinois is a large university with a large enrollment, there are also many smaller colleges in the state, including Parkland College with a total enrollment of 9,715.  

Since we know that there are many more smaller colleges than large universities, we'd like to test if the median college enrollment in the United States is smaller than the enrollment of Parkland College.  

We'd like to perform a hypothesis test using a 10% significance level based on our sample of colleges and universities.

**a)** Update our data to reflect the null hypothesis.

**b)** We will use our simulation-based procedures that we have developed so far this semester.

While we only have our one sample available, we will use it as a stand in for the population.  From our sample, gather a random sample with replacement of the same size as our original sample data.  We will then repeat this process to generate many random samples.  For each of our random samples, calculate and record our statistic of interest.  We will repeat this process 5000 times, and use the 5000 observations of our statistic of interest as a sampling distribution.

## 3. Size of Colleges [1 point]

Is the median enrollment for all junior colleges different from the median enrollment for all colleges, universities, and professional schools?  Use a significance level of 1%.

Generate the simulation-based sampling distribution for our statistic of interest.  Be sure to calculate any differences as junior college - colleges, universities, and professional schools.

Remember to keep all your cells and hit the save icon above periodically to checkpoint (save) your results on your local computer. Once you are satisified with your results restart the kernel and run all (Kernel -> Restart & Run All). **Make sure nothing has changed**. Checkpoint and exit (File -> Save and Checkpoint + File -> Close and Halt). Follow the instructions on the Homework 6 Canvas Assignment to submit your notebook to GitHub.